extends baseEmail
block content
  // CONTENT
  p Hi #{firstName},
  p Forgot your password? Submit a patch request with your new password and password confirm to: #{url}
  p (Website for this action not yet implemented)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p If you didn't forgot your password, please ignore your email